/* CSS Resets */
* {


    box-sizing: border-box;
    margin: 0px;


    padding: 0px;

}

a {

    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}

button:focus {
    outline:0;
}

input:focus {
    outline:0;
}

/* Firefox needs this */
input:invalid {
    box-shadow: none;
}

/* CSS Resets end */

body {
    font-family: "Montserrat", sans-serif;
}

/* Components  */
.primary-button {
    display: inline-block;
    padding: 1em;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

    background: linear-gradient(90deg, #27AB83, #199473);
    transition-property: background;
}

.primary-button:hover {
    background: linear-gradient(90deg, #199473, #147d64);
}

.secondary-button {
    display: inline-block;
    border: 1px solid #27AB83;
    padding: 1em;
    border-radius: 5px;
    color: #27AB83;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.secondary-button:hover {
    background: rgba(72, 70, 98, 0.05);
}

/* On mobile, make buttons full-width */
@media only screen and (max-width: 400px) {
    .primary-button, .secondary-button {
        display: block;
        width: auto;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Components end */

/* Common Layout */

.header, .hero, .how-it-works, .footer, .content {
    width: 100%;
    max-width: 960px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #3E4C59;
}

@media only screen and (max-width: 400px) {
    .header, .hero, .how-it-works, .footer, .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*  */

/* Common Styling */

.bg-grey-linear {
    background: linear-gradient(180deg, #F5F7FA 0%, #F5F7FA 80.73%, #E4E7EB 100%);
}

.bg-grey-solid {
    background-color: #F5F7FA;
}
/* Common Styling end*/

.wip-banner {
    text-align: center;
    background: linear-gradient(#f7c948, #f0b429);
    color: #3f3d56;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 1em 2em;
    line-height: 1.4;
}
@media only screen and (min-width: 600px) {
    .wip-banner {
        padding: 0.5em;
    }
}

.wip-banner a {
    text-decoration: underline;
}

/* Nav */

.header-container {
    box-shadow: 0px 2px 2px 0px rgba(63, 61, 86, 0.1);
    position: relative; /* This affects shadows?? */
}

.nav {
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
}

.nav, .nav .left {
    min-height: 50px;
    
}

.nav .left {
    display: flex;
    align-items: center;
}

.nav .right {
    flex-grow: 8;
}

.nav .divider {
    background-color: rgba(63, 61, 86, 0.2);
    margin-left: 1em;
    margin-right: 1em;
}

.nav .link {
    line-height: 1;
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0em;
    color: rgba(63, 61, 86, 0.7);
}

.nav .link a {
    padding: 1em 0.4em;
}

.nav .link.logo a {
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    color: rgba(63, 61, 86, 0.9);
    padding-left: 0em;
}

.nav .link:hover {
    color: rgba(63, 61, 86, 1);
}

.nav .link a {
    display: inline-block;
}

.nav .link-container {
    width: 100%;
}

.nav {
    flex-direction: column;
    justify-content: center;
}

.nav .menu-toggle {
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(63, 61, 86, 0.5);
  padding: 2px 6px;
  border-radius: 5px;
  transition: 0.2s;
}

.nav .menu-toggle.open {
  border: 1px solid rgba(63, 61, 86, 0.8);
}

.nav .menu-toggle .bar {
  width: 35px;
  height: 2px;
  background-color: rgba(63, 61, 86, 0.5);
  margin: 6px 0;
  transition: 0.2s;
}

.nav .menu-toggle.open .bar {
  background-color: rgba(63, 61, 86, 0.8);
}

.nav .visible-if-menu-open {
    display: none; 
}

.nav .visible-if-menu-open.menu-open {
    display: initial; 
}

.nav .left, .nav .right {
    text-align: left; 
}

.nav .divider {
    width: 100%;
    height: 1px;
}

.nav .link {
    width: 100%;
}

.nav .link a {
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .nav .menu-toggle {
        display: none;
    }

    .nav .visible-if-menu-open {
        display: initial; 
    }

    .nav {
        flex-direction: row;
        align-items: center;
    }

    .nav .right {
        text-align: right; 
    }

    .nav .link-container {
        width: auto;
    }

    .nav .divider {
        width: 1px;
        height: 1.5em;
    }

    .nav .link, .nav .link a {
        width: auto;
    }
}


/* */

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero .text .buttons .primary-button {
    margin-right: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 400px) {
    .hero .text .buttons .primary-button {
        margin-right: 0px;
    }
}

.hero
{
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

.hero .text {
    text-align: center;
}

/* On large screens, add huge padding, left text */
@media only screen and (min-width: 900px) {
    .hero {
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: space-between;
    }

    .hero .text {
        text-align: left;
    }

}


.hero .image {
    display: none;
}

/* On medium screens, show hero image */
@media only screen and (min-width: 600px) {
    .hero .image {
        display: inline-block;
    }
}
.hero .text, .hero .image {
    flex-grow: 1;
}

.hero .text {
    font-family: "Montserrat", sans-serif;
    max-width: 360px;
}

.hero .text strong {
    color: #27AB83;
}

.hero .text h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.hero .text .subtext {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.hero .text .subtext p {
    margin-bottom: 20px;
}

.hero .image {
    max-width: 440px;
}

.hero .image img {
    margin-top:40px;
    margin-bottom:40px;
    width: 100%;
}

.early-access-form {
    max-width: 420px;
}

.early-access-form .email-input {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px -2px rgba(63, 61, 86, 0.2);

    border-radius: 5px;
    display: flex;
    transition-property: border;
    transition-property: box-shadow;
}

.early-access-form .email-input:hover {
    box-shadow: 0px 4px 4px -2px rgba(63, 61, 86, 0.3);
}

.early-access-form .email-input {
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .early-access-form .email-input {
        flex-direction: row;
    }
}

.early-access-form .feedback {
    font-size: 12px;
    margin-top: 0.5em;
    text-align: left;
}

.early-access-form .email-input input {
    border: none;
    color: #3E4C59;
    font-size: 16px;
    min-width: 0; /* Browser sets a default width for inputs */
    flex-grow: 2;
    font-family: "Montserrat", sans-serif;
}

.early-access-form .email-input input {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .early-access-form .email-input input {
        text-align: left;
    }
}

.early-access-form .email-input input {
    border-radius: 5px;
    padding: 1em 1em;
}

.early-access-form .email-input input::placeholder {
    color: rgba(63, 61, 86, 0.5);
}

.early-access-form .email-input button {
    flex-shrink: 0;
    font-size: 14px;
    margin: 2px;
}

.early-access-form .email-input button,
.early-access-form .email-input {
    transition-duration: 0.1s;
}

.quote-container {
    background-color: #3F3D56;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: #E4E7EB;
    text-align: center;
}

.quote .text {
    font-size: 18px;
    max-width: 240px;
    margin-bottom: 20px;
}

.quote .author {
    font-size: 12px;
    opacity: 80%
}

.how-it-works-container {
    min-height: 800px;
}

.how-it-works {
    font-family: "Montserrat", sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
}

.how-it-works h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.how-it-works .subtitle {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.how-it-works .hiw-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(63, 61, 86, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
    display: relative;
}

.how-it-works .hiw-section {
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: nowrap;
}

@media only screen and (min-width: 900px) {
    .how-it-works .hiw-section {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .how-it-works .hiw-section {
        flex-wrap: wrap-reverse;
    }
}

.how-it-works .hiw-section .image {
    width: 100%;
    flex-shrink: 3;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
    text-align: center;
}

.how-it-works .hiw-section .text {
    flex-shrink: 1;
    max-width: 400px;
    line-height: 1.8;
}

.how-it-works .hiw-section .image img {
    max-width: 300px;
    min-width: 100px;
    width: 100%;
}

.how-it-works .hiw-section .text .heading {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.how-it-works .hiw-section .text .description {
    font-size: 14px;
}

.how-it-works .cta {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
                0px 10px 20px rgba(0, 0, 0, 0.1);
}

.how-it-works .cta .text {
    line-height: 1.5;
}

.how-it-works .cta .primary-button {
    flex-shrink: 0;
}

.how-it-works .cta {
    margin-top: 40px;
    padding: 20px 40px 20px 40px;
    font-size: 24px;
    flex-wrap: no-wrap;
}

@media only screen and (max-width: 900px) {
    .how-it-works .cta {
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
    .how-it-works .cta {
        padding: 40px 40px 40px 40px;
        flex-wrap: wrap;
    }

    .how-it-works .primary-button {
        margin-top: 20px;
    }
}

.footer-container {
    background-color: #3F3D56;
}

.footer {
    height: 50px;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 10px; */
}

.footer .link {
    display: inline-block;
    text-decoration: underline;
    padding: 10px 10px 10px 0px;
    font-size: 14px;
}


/* Early-access */

.early-access-container {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 80px;
}

.early-access-container .content {
    padding-top: 3em;
}

.markdown {
    line-height: 1.6;
}

.markdown a {
    text-decoration: underline;
    color: #27AB83;
}

.markdown h1 {
    margin-bottom: 1em;
}

.markdown p {
    margin-bottom: 2em;
}

.markdown p:last-child {
    margin-bottom: 0;
}

.markdown ul {
    margin-bottom: 2.5em;
    
}

.markdown ul {
    margin-left: 2em;
}

.markdown li {
    margin-bottom: 0.7em;
    position: relative;
}

.early-access-container .markdown li {
    list-style-type: none;
}

.early-access-container .markdown li::before {
    content: "";
    position: absolute;
    left: -2em;
    width: 1.6em;
    height: 1.6em;
    background-image: url('/images/tick.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Challenge Page */

.challenge-page-container {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.challenge-page-container .content {
    max-width: 640px;
    padding-top: 3em;
    padding-bottom: 6em;
}

.challenge-page-header {
    padding-bottom: 2em;
    color: #3e4c59;
}

.challenge-page-header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.challenge-page-header h1 {
    margin-bottom: 0.5em;
}

.challenge-page-header .label {
    font-weight: bold;
    font-size: 14px;

    display: inline-block;

    background: linear-gradient(90deg, #27AB83, #199473);
    color: white;
    padding: 0.8em 0.8em;
    border-radius: 5px;
    line-height: 1;
    text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
    .challenge-page-header {
        flex-direction: row;
        align-items: stretch;
    }

    .challenge-page-header h1 {
        margin-bottom: 0px;
    }
    .challenge-page-header .label {
        margin-left: 0.5em;
        display: flex;
        align-items: center;
    }
}


.challenge-stages {
    margin-top: 2em;
    margin-bottom: 2em;
}

.challenge-stage-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px -2px rgba(63, 61, 86, 0.1), 0px 0px 5px 0px rgba(63, 61, 86, 0.05);
    border-radius: 5px;
    padding: 1.5em 1.5em;
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .challenge-stage-box {
        flex-direction: row;
    }
}

.early-access-container .content {
    max-width: 40em;
}

.content .markdown {
    color: #3f3d56;
}

.challenge-stage-box .stage-number {
    margin-right: 0.5em;
    color: rgba(138, 136, 170, 0.5);
    margin-bottom: 0.5em;
}

.challenge-stage-box .markdown h2 {
    color: #3f3d56;
    font-weight: normal;
    margin-bottom: 1em;
    color: rgba(72, 70, 98, 0.9);
}

.challenge-stage-box .markdown p {
    color: #3f3d56;

}

.challenge-stage-box .stage-number, .challenge-stage-box .markdown h2 {
    display: block;
    font-size: 1.3em;
    line-height: 1;
}

/* Changelog */

.changelog-container {
    min-height: 100vh;
}

.changelog-container .content {
    padding-top: 3em;
}

.changelog-container .content h1 {
    padding-bottom: 1em;
}

.changelog-entries-box {
    margin-top: 3em;
}

.changelog-entry {
    font-family: Montserrat;
    font-style: normal;
    display: flex;
    position: relative;
}

.changelog-entry .timeline-box-container {
    flex-shrink: 0;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

.changelog-entry .timeline-box-container:before {
    position: absolute;
    right: 34px;
    height: 2000px;
    content: "";
    width: 2px;
    background-color: rgba(63, 61, 86, 0.1)
}

.changelog-entries-box .changelog-entry:first-child .timeline-box-container:before {
    top: 20px;
}

.changelog-entries-box .changelog-entry:last-child .timeline-box-container:before {
    height: 15px;
}


.changelog-entry .text-box {
    flex-grow: 1;
}

.changelog-entry .text-box .title-box {
    display: flex;
    margin-bottom: 1em;
}

.changelog-entry .title {
    flex-grow: 1;
    font-weight: bold;
    font-size: 20px;
}

.changelog-entry .time {
    text-align: right;

    color: rgba(63, 61, 86, 0.4);
}

.changelog-entry .time-box {
    min-height: 38px;
    display: flex;
    align-items: center;
}

.changelog-entry .dot-box {
    height: 38px;
    display: flex;
    align-items: center;
}

.changelog-entry .title-box {
    min-height: 38px;
}

.changelog-entry .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;

    margin-right: 30px;
    margin-left: 10px;
}

.changelog-entry.changelog-type-new .dot {
    background: #27AB83;
    box-shadow: 0px 0px 2px #27AB83;
}

.changelog-entry.changelog-type-improvement .dot {
    background: #52606D;
    box-shadow: 0px 0px 2px #52606D;
}

.changelog-entry.changelog-type-announcement .dot {
    background: #6C63FF;
    box-shadow: 0px 0px 2px #6C63FF;
}

.changelog-entry.changelog-type-new .title {
    color: #27AB83;
}

.changelog-entry.changelog-type-improvement .title {
    color: #52606D;
}

.changelog-entry.changelog-type-announcement .title {
    color: #6C63FF;
}

.changelog-entry.changelog-type-new .label {
    background: #27AB83;
}

.changelog-entry.changelog-type-improvement .label {
    background: #52606D;
}

.changelog-entry.changelog-type-announcement .label {
    background: #6C63FF;
}

.changelog-entry .text-box {
    padding-bottom: 3em;
}

.changelog-entry .markdown {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.18%;

    color: rgba(63, 61, 86, 0.8);
    max-width: 540px;
}

.changelog-entry .markdown p {
    margin-bottom: 1em;
}

.changelog-entry .text-box .title-box .label {
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.changelog-entry .text-box .title-box .label {
    font-size: 12px;
    padding: 8px;
}

.changelog-entry .timeline-box {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.changelog-entry .timeline-box {
    width: 90px;
}

.changelog-entry .text-box .title-box {
    flex-direction: column;
    align-items: start;
}

.changelog-entry .text-box .title-box .title {
    margin-bottom: 7px;
    margin-top: 7px;
}

.changelog-entry .time {
    font-size: 12px;
}

@media only screen and (min-width: 900px) {
    .changelog-entry .timeline-box {
        width: 150px;
    }

    .changelog-entry .text-box .title-box {
        flex-direction: row;
        align-items: center;
    }

    .changelog-entry .text-box .title-box .title {
        margin-bottom: 0;
        margin-top: 0;
    }
    .changelog-entry .time {
        font-size: 14px;
    }

    .changelog-entry .text-box .title-box .label {
        font-size: 14px;
    }
}


/* FAQ */

.page {
    min-height: 100vh;
}

.page .content {
    padding-top: 3em;
    padding-bottom: 5em;
}

.page .content-header {
    padding-bottom: 2em;
}

.page .content h1 {
    padding-bottom: 0.5em;
}

.page .content .page-description {
    color: rgba(62, 61, 86, 0.6);
}

.faq-entries-box {
    max-width: 560px;
}

.faq-entry {
    margin-bottom: 2.5em;
}

.faq-entry .question {
    font-weight: normal;
    color: #2C2A3C;
    font-size: 1.2em;
    display: inline-block;
    border-bottom: 2px solid rgba(39, 171, 131, 0.51);
    padding: 0.1em 0em;
    margin-bottom: 0.7em;
}

.faq-entry .markdown {
    color: #5D5C70;
    font-size: 0.9em;
}

.faq-entry .markdown p {
    margin-bottom: 1em;
}
