/* CSS Resets */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* CSS Resets end */

/* Components  */
.primary-button {
    display: inline-block;
    background: linear-gradient(90deg, #27AB83, #199473);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
}

.secondary-button {
    display: inline-block;
    border: 1px solid #27AB83;
    padding: 15px;
    border-radius: 5px;
    color: #27AB83;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-right: 20px;
}

/* On mobile, make buttons full-width */
@media only screen and (max-width: 400px) {
    .primary-button, .secondary-button {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* Components end */

/* Common Layout */

.header, .how-it-works {
    width: 100%;
    max-width: 960px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #3E4C59;
}
/*  */

.header-container {
    background: linear-gradient(180deg, #F5F7FA 0%, #F5F7FA 80.73%, #E4E7EB 100%);
}

.nav {
    display: flex;
    font-family: "Open Sans", sans-serif;
}

.nav .left {
    flex-grow: 1;
    text-align: left;
}

.nav .right {
    flex-grow: 8;
    text-align: right;
}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav .link {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-bottom: 2px solid #3E4C59;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero
{
    padding-top: 40px;
    padding-bottom: 60px;
    justify-content: center;
}

.hero .text {
    text-align: center;
}

.hero .image {
    display: none;
}

/* On medium screens, show hero image */
@media only screen and (min-width: 600px) {
    .hero .image {
        display: inline-block;
    }
}

/* On large screens, add huge padding, left text */
@media only screen and (min-width: 900px) {
    .hero .text {
        text-align: left;
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 200px;
        justify-content: space-between;
    }
}

.hero .text, .hero .image {
    flex-grow: 1;
}

.hero .text {
    font-family: "Montserrat", sans-serif;
    max-width: 360px;
}

.hero .text .green {
    color: #27AB83;
}

.hero .text h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.hero .text .subtext {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.hero .image {
    max-width: 460px;
}

.hero .image img {
    width: 100%;
}

.quote-container {
    background-color: #3F3D56;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: #E4E7EB;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.quote .text {
    font-size: 18px;
    max-width: 240px;
    margin-bottom: 20px;
}

.quote .author {
    font-size: 12px;
    opacity: 80%
}

.how-it-works-container {
    min-height: 800px;
    background: linear-gradient(180deg, #E4E7EB, #EEF1F7);
}

.how-it-works {
    font-family: "Montserrat", sans-serif;
    padding-top: 60px;
}

.how-it-works h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.how-it-works .subtitle {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.how-it-works .hiw-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(63, 61, 86, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
    display: relative;
}

.how-it-works .hiw-section {
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: nowrap;
}

@media only screen and (min-width: 900px) {
    .how-it-works .hiw-section {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .how-it-works .hiw-section {
        flex-wrap: wrap-reverse;
    }
}

.how-it-works .hiw-section .image {
    width: 100%;
    flex-shrink: 3;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
    text-align: center;
}

.how-it-works .hiw-section .text {
    flex-shrink: 1;
    max-width: 400px;
    line-height: 1.8;
}

.how-it-works .hiw-section .image img {
    max-width: 300px;
    min-width: 100px;
    width: 100%;
}

.how-it-works .hiw-section .text .heading {
    font-size: 20px;
    margin-bottom: 20px;
}

.how-it-works .hiw-section .text .description {
    font-size: 14px;
}
