/* CSS Resets */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {

    color: inherit;
    text-decoration: none;
}

button {

    border: none;
}

button:focus {
    outline:0;
}

input:focus {
    outline:0;
}

/* CSS Resets end */

/* Components  */
.primary-button {
    display: inline-block;
    padding: 1em;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

    background: linear-gradient(90deg, #27AB83, #199473);
    transition-property: background;
}

.primary-button:hover {
    background: linear-gradient(90deg, #199473, #147d64);
}

.secondary-button {
    display: inline-block;
    border: 1px solid #27AB83;
    padding: 1em;
    border-radius: 5px;
    color: #27AB83;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

/* On mobile, make buttons full-width */
@media only screen and (max-width: 400px) {
    .primary-button, .secondary-button {
        display: inline-block;
        width: auto;
        text-align: center;
        /* margin-bottom: 20px; */
    }
}

/* Components end */

/* Common Layout */

.header, .how-it-works, .footer {
    width: 100%;
    max-width: 960px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #3E4C59;
}

@media only screen and (max-width: 400px) {
    .header, .how-it-works, .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*  */

.wip-banner {
    text-align: center;
    background: linear-gradient(#f7c948, #f0b429);
    color: #3f3d56;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 1em 2em;
    line-height: 1.4;
}
@media only screen and (min-width: 600px) {
    .wip-banner {
        padding: 0.5em;
    }
}

.wip-banner a {
    text-decoration: underline;
}

.header-container {
    background: linear-gradient(180deg, #F5F7FA 0%, #F5F7FA 80.73%, #E4E7EB 100%);
}

.nav {
    display: flex;
    font-family: "Open Sans", sans-serif;
}

.nav .left {
    flex-grow: 1;
    text-align: left;
}

.nav .right {
    flex-grow: 8;
    text-align: right;
}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav .link {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-bottom: 2px solid #3E4C59;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero .text .primary-button {
    margin-right: 10px;
    margin-bottom: 20px;
}

.hero
{
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

.hero .text {
    text-align: center;
}

/* On large screens, add huge padding, left text */
@media only screen and (min-width: 900px) {
    .hero {
        padding-top: 100px;
        padding-bottom: 100px;
        justify-content: space-between;
    }

    .hero .text {
        text-align: left;
    }

}


.hero .image {
    display: none;
}

/* On medium screens, show hero image */
@media only screen and (min-width: 600px) {
    .hero .image {
        display: inline-block;
    }
}
.hero .text, .hero .image {
    flex-grow: 1;
}

.hero .text {
    font-family: "Montserrat", sans-serif;
    max-width: 360px;
}

.hero .text strong {
    color: #27AB83;
}

.hero .text h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.hero .text .subtext {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.hero .text .subtext p {
    margin-bottom: 20px;
}

.hero .image {
    max-width: 440px;
}

.hero .image img {
    margin-top:40px;
    margin-bottom:40px;
    width: 100%;
}

.hero .early-access-form .email-input {
    background: #FFFFFF;
    border: 1px solid rgba(63, 61, 86, 0.3);
    box-shadow: 0px 2px 2px rgba(63, 61, 86, 0.2);

    border-radius: 5px;
    display: flex;
    transition-property: border;
    transition-property: box-shadow;
}

.hero .early-access-form .email-input:hover {
    border: 1px solid rgba(63, 61, 86, 0.35);
    box-shadow: 0px 2px 2px rgba(63, 61, 86, 0.25);
}

.hero .early-access-form .email-input {
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .hero .early-access-form .email-input {
        flex-direction: row;
    }
}

.hero .early-access-form .feedback {
    font-size: 12px;
    margin-top: 0.5em;
    text-align: left;
}

.hero .early-access-form .email-input input {
    border: none;
    color: #3E4C59;
    min-width: 0; /* Browser sets a default width for inputs */
    flex-grow: 2;
}

.hero .early-access-form .email-input input {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .hero .early-access-form .email-input input {
        text-align: left;
    }
}

.hero .early-access-form .email-input input {
    border-radius: 5px;
    padding: 1em 1em;
}

.hero .early-access-form .email-input input::placeholder {
    color: rgba(63, 61, 86, 0.5);
}

.hero .early-access-form .email-input button {
    flex-shrink: 0;
    font-size: 14px;
    margin: 2px;
}

.hero .early-access-form .email-input button,
.hero .early-access-form .email-input {
    transition-duration: 0.1s;
}

.quote-container {
    background-color: #3F3D56;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: #E4E7EB;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.quote .text {
    font-size: 18px;
    max-width: 240px;
    margin-bottom: 20px;
}

.quote .author {
    font-size: 12px;
    opacity: 80%
}

.how-it-works-container {
    min-height: 800px;
    /* background: linear-gradient(180deg, #EEF1F7, #E4E7EB); */
    background: linear-gradient(180deg, #F5F7FA 0%, #F5F7FA 80.73%, #E4E7EB 100%);
}

.how-it-works {
    font-family: "Montserrat", sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
}

.how-it-works h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.how-it-works .subtitle {
    font-size: 18px;
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.how-it-works .hiw-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(63, 61, 86, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
    display: relative;
}

.how-it-works .hiw-section {
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: nowrap;
}

@media only screen and (min-width: 900px) {
    .how-it-works .hiw-section {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .how-it-works .hiw-section {
        flex-wrap: wrap-reverse;
    }
}

.how-it-works .hiw-section .image {
    width: 100%;
    flex-shrink: 3;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
    text-align: center;
}

.how-it-works .hiw-section .text {
    flex-shrink: 1;
    max-width: 400px;
    line-height: 1.8;
}

.how-it-works .hiw-section .image img {
    max-width: 300px;
    min-width: 100px;
    width: 100%;
}

.how-it-works .hiw-section .text .heading {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.how-it-works .hiw-section .text .description {
    font-size: 14px;
}

.how-it-works .cta {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
                0px 10px 20px rgba(0, 0, 0, 0.1);
}

.how-it-works .cta .text {
    line-height: 1.5;
}

.how-it-works .cta .primary-button {
    flex-shrink: 0;
}

.how-it-works .cta {
    margin-top: 40px;
    padding: 20px 40px 20px 40px;
    font-size: 24px;
    flex-wrap: no-wrap;
}

@media only screen and (max-width: 900px) {
    .how-it-works .cta {
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
    .how-it-works .cta {
        padding: 40px 40px 40px 40px;
        flex-wrap: wrap;
    }

    .how-it-works .primary-button {
        margin-top: 20px;
    }
}

.footer-container {
    background-color: #3F3D56;
}

.footer {
    height: 50px;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 10px; */
}

.footer .link {
    display: inline-block;
    text-decoration: underline;
    padding: 10px 10px 10px 0px;
    font-size: 14px;
}


/* Early-access */

.early-access-container {
    min-height: 100vh;
    background: linear-gradient(180deg, #F5F7FA 0%, #F5F7FA 80.73%, #E4E7EB 100%);
    font-family: "Montserrat", sans-serif;
    padding-bottom: 3em;
}

.early-access-container .header {
    max-width: 40em;
}
.early-access-container .markdown {
    margin-top: 1em;
}

.markdown {
    line-height: 1.6;
}

.markdown a {
    text-decoration: underline;
    color: #27AB83;
}

.markdown h1 {
    margin-bottom: 1em;
}

.markdown p, ul {
    margin-bottom: 2em;
}

.markdown h1 {
    font-size: 28px;
}

.markdown ul {
    margin-left: 2em;
}

.markdown li {
    margin-bottom: 0.7em;
    list-style-type: none;
    position: relative;
}

.markdown li::before {
    content: "";
    position: absolute;
    left: -2em;
    width: 1.6em;
    height: 1.6em;
    background-image: url('/images/tick.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
