---
---

/* Example using Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.header-link {
    @apply block text-gray-700;
}

.header-link:hover {
    @apply text-gray-800;
}

.button {
    @apply rounded-md px-4 py-3 shadow cursor-pointer;
}

.button:hover {
    @apply shadow-md;
}

.label {
    @apply whitespace-no-wrap text-xs uppercase font-bold px-3 py-2 rounded-lg;
}

.label-indigo {
    @apply bg-indigo-500 text-white;
}

.label-gray {
    @apply bg-gray-500 text-white;
}

.markdown {
    @apply text-gray-700 leading-relaxed;
}

.markdown h1 {
    @apply text-gray-700 text-3xl font-bold mb-8;
}

.markdown p {
    @apply mb-6;
}

.markdown a {
    @apply text-teal-500 underline font-bold;
}

.markdown ul {
    @apply mb-10 ml-8;
}

.markdown li {
    @apply mb-4;
}

.markdown li {
    @apply relative;
}

.markdown li::before {
    content: "";
    position: absolute;
    left: -2em;
    width: 1.6em;
    height: 1.6em;
    background-image: url('/images/tick.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.early-access-button {
    box-shadow: 0px 0px 2px #38b2ac61;
}

/* .markdown code { */
/*     background-color: rgba(27,31,35,.05); */
/*     padding: 0.2em 0.4em; */
/*     font-size: 1.2em; */
/* } */

/* .markdown p:last-child { */
/*     margin-bottom: 0; */
/* } */

/* .markdown ul { */
/*     margin-bottom: 2.5em; */
    
/* } */

/* .markdown ul { */
/*     margin-left: 2em; */
/* } */

/* .markdown li { */
/*     margin-bottom: 0.7em; */
/*     position: relative; */
/* } */

/* .early-access-container .markdown li { */
/*     list-style-type: none; */
/* } */

/* .early-access-container .markdown li::before { */
/*     content: ""; */
/*     position: absolute; */
/*     left: -2em; */
/*     width: 1.6em; */
/*     height: 1.6em; */
/*     background-image: url('/images/tick.png'); */
/*     background-size: 70%; */
/*     background-repeat: no-repeat; */
/*     background-position: center; */
/* } */

.timeline-entry a {
    @apply text-teal-500 underline font-bold;
}

.full-width-padding {
    padding-top: 100%;
}

.push-top-half {
    margin-top: -50%;
}

.bg-gradient-teal-500-600 {
    background-image: linear-gradient(theme('colors.teal.500'), theme('colors.teal.600'));
}

.bg-gradient-teal-600-700 {
    background-image: linear-gradient(theme('colors.teal.600'), theme('colors.teal.700'));
}

.bg-gradient-indigo-500-600 {
    background-image: linear-gradient(theme('colors.indigo.500'), theme('colors.indigo.600'));
}

.bg-gradient-indigo-600-700 {
    background-image: linear-gradient(theme('colors.indigo.600'), theme('colors.indigo.700'));
}

.bg-gradient-indigo-700-800 {
    background-image: linear-gradient(theme('colors.indigo.700'), theme('colors.indigo.800'));
}

.bg-gradient-blue-500-600 {
    background-image: linear-gradient(theme('colors.blue.500'), theme('colors.blue.600'));
}

.bg-gradient-blue-600-700 {
    background-image: linear-gradient(theme('colors.blue.600'), theme('colors.blue.700'));
}

.bg-gradient-blue-700-800 {
    background-image: linear-gradient(theme('colors.blue.700'), theme('colors.blue.800'));
}

.bg-gradient-gray-500-600 {
    background-image: linear-gradient(theme('colors.gray.500'), theme('colors.gray.600'));
}

.bg-gradient-gray-600-700 {
    background-image: linear-gradient(theme('colors.gray.600'), theme('colors.gray.700'));
}

.bg-gradient-gray-700-800 {
    background-image: linear-gradient(theme('colors.gray.700'), theme('colors.gray.800'));
}

.shadow-inner-large {
    box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.1),
                inset 0 -2px 20px 0 rgba(0, 0, 0, 0.1);
}
