---
layout: default
---

<div class="changelog-container bg-grey-linear">
    {% include wip_banner.html %}
    {% include header.html %}
    <div class="content-container">
        <div class="content">
            <h1>Changelog</h1>
            <div class="markdown">
                A summary of changes that happened in CodeCrafters recently.
            </div>
            <div class="changelog-entries-box">
                {% for changelog in site.data.copy.changelogs %}
                <div class="changelog-entry changelog-type-{{changelog.type}}">
                    <div class="timeline-box-container">
                        <div class="timeline-box">
                            <div class="time-box">
                                <div class="time" title="{{ changelog.date }}">
                                    {{ changelog.date | timeago }}
                                </div>
                            </div>
                            <div class="dot-box">
                                <div class="dot">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-box">
                        <div class="title-box">
                            <div class="title">
                                {{ changelog.title }}
                            </div>
                            <div class="label">
                                {{ changelog.type }}
                            </div>
                        </div>
                        <div class="markdown">
                            {{ changelog.description_md | markdownify }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
