---
layout: default_tailwind
---

<div class="bg-gray-100 min-h-screen">
    {% include tw_header.html %}
    <div class="container lg:max-w-screen-lg mx-auto px-6 pb-20 mt-10">
        <h1 class="text-gray-700 text-3xl font-bold mb-8">
            Early Access Program
        </h1>
        <div class="flex flex-col lg:flex-row justify-between">
            <div class="markdown mb-8 max-w-lg">
                {{ site.data.copy.early_access_md | markdownify }}
                {% include early_access_form_tw.html %}
            </div>
            <div class="flex-grow grid grid-cols-2 col-gap-16 row-gap-8 lg:block lg:ml-20">
                {% for testimonial in site.data.testimonials %}
                <div class="flex max-w-sm py-10">
                    <div class="flex flex-col items-center mr-4">
                        <div class="w-px bg-indigo-500 opacity-25 flex-grow my-1">
                        </div>
                        <div class="text-5xl text-indigo-500 leading-none h-5">
                            &ldquo;
                        </div>
                        <div class="w-px bg-indigo-500 opacity-25 flex-grow my-1">
                        </div>
                    </div>
                    <div class="flex-grow">
                        <div class="text-gray-600 text-sm mb-4">
                            {{ testimonial.text }}
                        </div>
                        <div class="text-right text-sm text-gray-500">
                            -
                            <a
                                href="{{ testimonial.link }}"
                                class="underline">
                                {{ testimonial.author }}
                            </a>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
