---
layout: default
---

<div class="wip-banner" id="wip-banner">
CodeCrafters is under development. Signup below for early access.
</div>
{% include header.html %}
<div class="hero-container bg-grey-linear">
    <div class="hero">
        <div class="text">
            <h2>
                {{ site.data.copy.heading_md | markdownify }}
            </h2>
            <div class="subtext">
                {{ site.data.copy.subheading_md | markdownify }}
            </div>
            <div class="buttons">
                <a href="/early-access" class="primary-button">Get Early Access</a>
                <a href="/challenges/redis" class="secondary-button">Explore</a>
            </div>
        </div>
        <div class="image">
            <img alt="Man with code" src="/images/hero2.svg"/>
        </div>
    </div>
</div>
<div class="quote-container">
    <div class="quote">
        <div class="text">
        "What I cannot create, <br /> I do not understand"
        </div>
        <div class="author">
        - Richard Feynman
        </div>
    </div>
</div>
<div class="how-it-works-container bg-grey-linear">
    <div class="how-it-works">
        <h2>How CodeCrafters works</h2>
        <div class="subtitle">
        Learning on CodeCrafters is quite different from other programming
        websites. Here's how it works.
        </div>

        {% for section in site.data.how-it-works %}
        <div class="hiw-section">
        <div class="image">
            <img alt="Man with code" src="{{ section.image }}"/>
        </div>
        <div class="text">
            <div class="heading">
            {{ section.heading }}
            </div>
            <div class="description">
            {{ section.description }}
            </div>
        </div>
        </div>
        {% endfor %}

        <div class="cta">
        <span class="text">
            Sounds interesting? Signup for early access!
        </span>

        <a href="/early-access" class="primary-button">Sign Up</a>
        </div>
    </div>
</div>
<!-- <div class="footer-container">
    <div class="footer">
    <div class="left">
    <a href="/" class="link">faq</a>
    </div>

    <div class="right">
    <a href="/" class="link">terms</a>
    <a href="/" class="link">privacy</a>
    </div>
    </div>
    </div> -->
