---
layout: default
---

<div class="learn-internals-container bg-grey-linear page">
    {% include wip_banner.html %}
    {% include header.html %}
    <div class="content-container">
        <div class="content">
            <div class="content-header">
                <h1>Learn Redis Internals</h1>
                <div class="markdown page-description">
                    How <i>exactly</i> does Redis work internally?
                </div>
            </div>
            <div class="markdown">
                {{ site.data.copy.learn_redis_internals_md | markdownify }}

                {% include early_access_form.html %}
            </div>
        </div>
    </div>
</div>
