<div class="challenge-page-container">
    {% include header.html %}
    <div class="content-container bg-grey-linear">
        <div class="content">
            <div class="challenge-page-header">
                <h1>{{ include.challenge.name }}</h1>
                <a href="/early-access" class="label">
                Early Access
                </a>
            </div>
            <div class="markdown">
                {{ include.challenge.marketing_intro_md | markdownify }}

                <p>
                    This challenge has <strong>{{ include.challenge.stages | size }}</strong> stages.
                </p>
            </div>
            <div class="challenge-stages">
                {% for stage in include.challenge.stages %}
                <div class="challenge-stage-box">
                    <div class="left">
                        <span class="stage-number">#<strong>{{ forloop.index }}</strong></span>
                    </div>
                    <div class="right">
                        <div class="markdown">
                            <h2>{{ stage.name }}</h2>

                            {{ stage.marketing_md | markdownify }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="markdown">
                <p>
                    Interested in trying out the {{ include.challenge.name }}
                    Challenge? Checkout our <a href="/early-access">early
                    access</a> program!
                </p>
            </div>
        </div>
    </div>
</div>
