<form class="sm:max-w-md block" id="early-access-form">
    <div class="flex flex-col sm:flex-row">
        <input
            type="email"
            placeholder="email@example.com"
            id="early-access-input"
            class="
                  bg-white shadow rounded
                  flex-grow min-w-0
                  px-4 py-4 sm:py-3
                  mb-2 sm:mb-0 sm:mr-2
                  bg-transparent placeholder-gray-500 text-gray-600
                  text-center sm:text-left
                  ">
        </input>
        <button
            id="early-access-button"
            type="submit"
            class="
                shadow
                px-4 py-4 sm:py-3
                rounded
                bg-indigo-500 hover:bg-indigo-600 text-white font-bold flex-shrink-0">
            Get Early Access
        </button>
    </div>
    <div class="text-sm my-2 text-teal-500 font-bold" id="early-access-feedback">
        <!-- Here's where feedback from the API is rendered -->
    </div>
</form>

<script>
document.getElementById("early-access-form").addEventListener("submit", function(e) {
    e.preventDefault();
    let email = document.getElementById("early-access-input").value;
    document.getElementById("early-access-feedback").textContent = "Registering..."
    // Spaghetti!!
    fetch(
        // Change!
        "https://codecrafters-registry.herokuapp.com/users/create",
        {
            'method': 'POST',
            'body': JSON.stringify({"email_address": email}),
            'headers': { 'Content-type': 'application/json' }
        }
    )
    .then((resp) => resp.text())
    .then(function (text) {
        document.getElementById("early-access-feedback").textContent = text
    })
    .catch(function (error) {
        console.error(error)
        alert(error);
    })
})
</script>
