<div class="header-container bg-grey-solid">
    <div class="header">
        <div class="nav">
            <div class="left">
                <h1 class="link logo"><a href="/">CodeCrafters</a></h1>
            </div>
            <div class="divider"></div>
            <span class="link"><a href="/">FAQ</a></span>
            <span class="link"><a href="/">Changelog</a></span>
            <div class="right">
                <span class="link"><a href="/early-access">Early Access</a></span>
            </div>
        </div>
    </div>
</div>
