<!DOCTYPE html>
<html>
<head>
  <title>CodeCrafters - Advanced programming challenges</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="header-container">
    <div class="header">
      <div class="nav">
        <div class="left">
          <h1 class="link"><a href="/">codecrafters.io</a></h1>
        </div>
        <div class="right">
          <span class="link"><a href="/faq">FAQ</a></span>
        </div>
      </div>
      <div class="hero">
        <div class="text">
          <h2>Software construction <span class="green">demystified</span></h2>
          <div class="subtext">
            Master the art of building software with <span class="green"><b>advanced</b></span> real-world programming
            challenges.
          </div>
          <div class="buttons">
            <a href="/" class="primary-button">Sign Up</a>
            <a href="/" class="secondary-button">Explore Courses</a>
          </div>
        </div>
        <div class="image">
          <img alt="Man with code" src="/images/hero.svg"/>
        </div>
      </div>
    </div>
  </div>
  <div class="quote-container">
    <div class="quote">
      <div class="text">
        "What I cannot create, <br /> I do not understand"
      </div>
      <div class="author">
        - Richard Feynman
      </div>
    </div>
  </div>
  <div class="how-it-works-container">
    <div class="how-it-works">
      <h2>How CodeCrafters works</h2>
      <div class="subtitle">
        Learning on CodeCrafters is quite different from other programming
        websites. Here's how it works.
      </div>

      {% for section in site.data.how-it-works %}
      <div class="hiw-section">
        <div class="image">
          <img alt="Man with code" src="{{ section.image }}"/>
        </div>
        <div class="text">
          <div class="heading">
            {{ section.heading }}
          </div>
          <div class="description">
            {{ section.description }}
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="cta">
        <span class="text">
          Sounds interesting? Signup to get started!
        </span>

        <a href="/" class="primary-button">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer">
      <div class="left">
        <a href="/" class="link">faq</a>
      </div>

      <div class="right">
        <a href="/" class="link">terms</a>
        <a href="/" class="link">privacy</a>
      </div>
    </div>
  </div>
</body>
</html>
