<!DOCTYPE html>
<html>
<head>
  <title>CodeCrafters - Advanced programming challenges</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="wip-banner" id="wip-banner">
    CodeCrafters is under development. Signup below for early access.
  </div>
  <div class="header-container">
    <div class="header">
      <div class="nav">
        <div class="left">
          <h1 class="link"><a href="/">codecrafters.io</a></h1>
        </div>
        <!-- <div class="right">
             <span class="link"><a href="/">FAQ</a></span>
             </div> -->
      </div>
      <div class="hero">
        <div class="text">
            <h2>
                {{ site.data.copy.heading_md | markdownify }}
            </h2>
          <div class="subtext">
              {{ site.data.copy.subheading_md | markdownify }}
          </div>
          <!-- <div class="buttons">
               <a href="{% app_url github.auth %}" class="primary-button">Sign Up</a>
               <a href="{% app_url github.auth %}" class="secondary-button">Explore Courses</a>
               </div> -->
          <div class="early-access-form">
            <div class="email-input">
              <input type="email" placeholder="youremail@example.com" id="early-access-input">
              </input>
              <button id="early-access-button">
                Get Early Access
              </button>
            </div>
            <div class="feedback" id="early-access-feedback">
                <!-- Here's where feedback from the API is rendered -->
            </div>
          </div>
        </div>
        <div class="image">
          <img alt="Man with code" src="/images/hero.svg"/>
        </div>
      </div>
    </div>
  </div>
  <div class="quote-container">
    <div class="quote">
      <div class="text">
        "What I cannot create, <br /> I do not understand"
      </div>
      <div class="author">
        - Richard Feynman
      </div>
    </div>
  </div>
  <div class="how-it-works-container">
    <div class="how-it-works">
      <h2>How CodeCrafters works</h2>
      <div class="subtitle">
        Learning on CodeCrafters is quite different from other programming
        websites. Here's how it works.
      </div>

      {% for section in site.data.how-it-works %}
      <div class="hiw-section">
        <div class="image">
          <img alt="Man with code" src="{{ section.image }}"/>
        </div>
        <div class="text">
          <div class="heading">
            {{ section.heading }}
          </div>
          <div class="description">
            {{ section.description }}
          </div>
        </div>
      </div>
      {% endfor %}

      <div class="cta">
        <span class="text">
          Sounds interesting? Signup for early access!
        </span>

        <a href="#early-access-input" class="primary-button">Sign Up</a>
      </div>
    </div>
  </div>
  <!-- <div class="footer-container">
       <div class="footer">
       <div class="left">
       <a href="/" class="link">faq</a>
       </div>

       <div class="right">
       <a href="/" class="link">terms</a>
       <a href="/" class="link">privacy</a>
       </div>
       </div>
       </div> -->
  <script>
   document.getElementById("early-access-button").addEventListener("click", function() {
       let email = document.getElementById("early-access-input").value;
       document.getElementById("early-access-feedback").textContent = "Registering..."
       // Spaghetti!!
       fetch(
           "https://codecrafters-registry.herokuapp.com/users/create",
           {
               'method': 'POST',
               'body': JSON.stringify({"email_address": email}),
               'headers': { 'Content-type': 'application/json' }
           }
       )
        .then((resp) => resp.text())
        .then(function (text) {
            document.getElementById("early-access-feedback").textContent = text
        })
        .catch(function (error) {
           console.error(error)
           alert(error);
        })
   })
  </script>
</body>
</html>
